
  @import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

body{
    font-family: 'Amaranth', sans-serif;
}
header{
    background-color: #000;
    padding: 5px;
}
header ul li a{
    color: #fff;
}
header ul li, header ul, header h1, .logotipo{
    display: inline-block;
}
header h1, header ul, .logotipo{
    color: #fff;
    float: left;
}
header {
    height: 50px;
}
section{
    margin: 0 auto;
    width: 1200px;
}
header h1, header ul{
    padding: 15px;
}

header ul li a{
    text-decoration: none;
    padding: 5px 10px;
}
header ul li a:hover{
    border-bottom: 5px solid #FECA04;
}
main {
    background-color: #FECA04;
}
.item{
    background-color: #fff;
    width: calc(33% - 40px);
    margin: 20px;
    display: inline-block;
    border-radius: 40px;

}
.thumb img{
    width: 100%;
}
.titulo{
    position: absolute; 
    margin-top: -40px;
    margin-left: 20px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}
.description {
    line-height: 20px;
    font-size: 20px;
    padding: 20px;
}
.price {
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    color: #CA6754;
    text-align: center;
}
.descripton p {
    height: 65px;
}
.thumb {
    height: 240px;
    overflow: hidden;
}

#lanches, #bebidas, #outros {
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding: 45px;
}

.description p {
    height: 70px;
}

#rodape p{
    font-size: 20px;

}
#rodape b{
    color: #FECA04;
}

@media ( max-width:980px ) {
    header{
        width: 90%;
        padding: 5%;
    }
    header ul, header h1 (
    float: none 
    )
}